.parallaxOne {

    background-image: url("../images/cover.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: -35px;
    margin-top: 0%;
    
  }

  h1.parallaxH1{
    text-align: center;
    padding-top: 220px;
    font-size:8vw;
    font-weight: bold;
    color: #F9F7F0;
    font-family: 'oswald',sans-serif;
}

.parallaxTwo {

  background-image: url("../images/ImageThree.jpg");
  min-height: 450px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: -35px;
  margin-top: 0%;
  
}

h1.parallaxTwoH1{
  text-align: center;
  padding-top: 140px;
  font-size:5vw;
  font-weight: bold;
  color: white;
  font-family: 'oswald',sans-serif;
}


  .card-row-one{
    margin-top: 40px;
    margin-bottom: -10px;
  }

  .card-One {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-right: 30px;
    
  }
  
  .card-One:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .Text-Contain-One{
    padding: 2px 16px;
  }

  

  .card-Two {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    border-radius: 10px;
    
    margin-bottom: 40px;
    margin-top: 80px;
   
  }
  
  .card-Two:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .Text-Contain-Two{
    padding: 2px 16px;
    
  }

.card-Zero {
  
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
 
.Text-Contain-Zero{
    
    padding-top: 30px;


}
div.Text-Contain-Zero h1{
  font-size: 40px;
}
div.Text-Contain-Zero p{
  line-height: 24px;
}


.container{
    z-index: -1;
}


.classTwo{
  display: flex;  
}

.card-row-two{
  margin-bottom: 100px;
}

.card-row-two-one{
  width: 100%;
  height: 250px;
  background-image: url(../images/type.jpg);
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-row-two-one:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-row-two-Two{
  width: 100%;
  height: 250px;
  background-image: url(../images/4.jpg);
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-row-two-Two:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-row-two-Three{
  width: 100%;
  height: 250px;
  background-image: url(../images/2.jpg);
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-row-two-Three:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imgcard-h4{
  color: #072a40;
  font-size: 18px;
  padding-top: 10px;
}

.imgcard-p{
  color: #072a40;
  font-size: 15px;
}

h4.ofeercard-h{
font-weight: 900px;
color: rgb(0, 0, 0);
}

ul.offercard-ul{
  font-size: 16px;
  padding-left: 17px;
}

.Text-Contain-Offer{
  width: 100%;
  padding-left: 10px;

}

.book-Button{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #178CA4;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  transition: 0.3s;
}

.book-Button:hover{
  background-color: #0f7c92;
  color: rgb(213, 222, 230);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

h1.ongoing-h1{
  padding-top: 60px;
  text-align: center;
  font-size: 40px;
}

